version: '3.8'

services:
  db:
    platform: linux/x86_64
    image: mysql:8.0
    ports:
      - 3306:3306
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  api:
    build:
      context: ./ikea-warehouse
      target: development
    networks:
      - api
    environment:
      - WAIT_HOSTS=db:3306
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_HOST=${DB_HOST}
    ports:
      - 3000:3000
      - 9229:9229
    volumes:
      - ./ikea-warehouse:/usr/src/ikea-warehouse
      - /usr/src/ikea-warehouse/node_modules
    restart: unless-stopped
    depends_on:
      - db
  frontend:
    container_name: ikea-warehouse-frontend
    networks:
      - api
    build:
      context: ./ikea-warehouse-frontend
      dockerfile: ./Dockerfile
    environment:
      VITE_API_URL: "${VITE_API_URL}"
    command: yarn dev
    ports:
    - 3001:3001
    volumes:
      - ./ikea-warehouse-frontend:/app
      - /app/node_modules
networks:
  api:
